<?xml version='1.0' encoding='utf-8'?>
<widget id="remotecontrol" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>remote control web</name>
    <description>
        remote control web.
    </description>
    <author email="game@raom.tk" href="http://game.raom.tk">
        pharaoh
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="Orientation" value="landscape" />
</widget>
